params {
    fastqs = "/cbio/datasets/human/giab/fastq/NA12878/NA12878_{1,2}_small.fastq.gz"
    //fastqs = "/cbio/datasets/human/giab/fastq/NA12878/NA12878_{1,2}.fastq.gz"
    ref = "/cbio/dbs/gatk/2.8/hg19/ucsc.hg19.fasta"
    output = "/cbio/users/gerrit/varaint-calling/out"
}

process {
    
    cpus         = 2
    memory       = 20.GB
    time         = 24.h

    withName: 'FASTQC' {
        container = 'docker://quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
    }
    withName: 'TRIMGALORE' {
        cpus         = 4
        memory       = 50.GB
        time         = 14.h
        container = 'docker://quay.io/biocontainers/trim-galore:0.6.9--hdfd78af_0'
    }
    withName: 'BWA' {
        cpus = 4
        memory = 60.GB
        time = 14.h
        container = 'docker://biocontainers/bwa:v0.7.17_cv1'
    }
    withName: 'SAMTOBAM' {
        cpus         = 4
        memory       = 50.GB
        time         = 14.h
        container = 'docker://quay.io/biocontainers/samtools:1.19.1--h50ea8bc_0'
    }
    withName: 'MARKDUP' {
        cpus         = 4
        memory       = 50.GB
        time         = 14.h
        container = 'docker://quay.io/biocontainers/picard:3.1.1--hdfd78af_0'
    }
    withName: 'PILEUP|CALLVAR' {
        cpus         = 4
        memory       = 50.GB
        time         = 14.h
        container = 'docker://quay.io/biocontainers/bcftools:1.19--h8b25389_0'
    }
}


singularity {
  enabled = true
}

profiles {
  
  slurm {
    process {
      executor = 'slurm'
      queue = 'Main'
      maxRetries = 4
    }
  }
}
